<div>

    <h2>Player_teams</h2>

    <script type = "text/ng-template" id="player_team-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myPlayer_teamLabel">Create or edit a Player_team</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="player_team.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>player_id:</label>
                    
                    <input type="number" class="form-control" name="player_id"
                           ng-model="player_team.player_id" ng-required="true"
                           />
                    <span class="error" ng-show="form.player_id.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.player_id.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>team_id:</label>
                    
                    <input type="number" class="form-control" name="team_id"
                           ng-model="player_team.team_id" ng-required="true"
                           />
                    <span class="error" ng-show="form.team_id.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.team_id.$error.max">Must be less than or equal to .</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Player_team
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>player_id</th>
                
                <th>team_id</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player_team in player_teams">
                <td>{{player_team.id}}</td>
                
                <td>{{player_team.player_id }}</td>
                
                <td>{{player_team.team_id }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(player_team.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(player_team.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
